{% extends "user/base.html" %}
{% load staticfiles %}
{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="containser">
    <div class="jumbotron text-center">
        {% for my_post in user_posts %}
        <ul class="col-sm-3 col-sm-offset-1">
            <a href="{{ my_post.slug }}"><img src="{{ my_post.post_image.url }}" style="width: 200px; height: 200px; border-radius: 10%;" alt="{{ my_post.title }}" title="{{ my_post.title }}"><br><h3 style="color: #696969;" class="btn btn-default">{{ my_post.title }}</h3></a><br><br><br>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}  