{% extends "user/base.html" %}
{% load staticfiles %}
{% load cloudinary %}
{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <div class="jumbotron text-center">
        <img src="{{ user_image.url }}" style="height: 200px; width: 200px; border-radius: 100%; background-size: cover;">
        <h1>{{ user_username.username }}</h1>
        <p>{{ user_username.first_name}} {{ user_username.last_name }}</p>
        <p>{{ user_bio }}</p>
        <p>{{ user_portfolio_site }}</p>
    </div>
    <div class="jumbotron text-center">
        <a class="btn btn-default text-center" href="{% url 'profile_posts' user_username.username %}">Posts</a>
    </div>
</div>
{% endblock %}  