{% extends "user/base.html" %}
{% load staticfiles %}
{% load cloudinary %}
{% block body_block %}
<title>Register | VellXR</title>
<meta name="description" content="Register | VellXR">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<div class="container text-center">
    <div class="jumbotron" style="background-color:white;">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register</h1><br>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ user_detail_form.as_p }}
          <br>
          <input type="submit" name="" value="Register" class="btn" style="font-family: Rubik;">
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}